body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(241,231,254);
    margin:0;
    padding: 0;
    margin-left: 40px;
    margin-right: 40px;

}
a{
    text-decoration: none;
}
a:hover, a:link{
    color:red
}
a:active{
    color:pink
}
.baslikmenu{
    list-style: none;
    padding-left: 100px;
}

#baslik{
   margin: 0;
   padding: 20px;
    background-color: purple;
    color: white;   
    text-transform: uppercase;
}

.gorsel{
    display: flex;
    justify-content: space-between;
}

.navbar{
    
    justify-content: flex-end;
    float: right;
    
    
}
.navbar li{
    list-style: none;
}
.navbar ul{
    
    justify-content: flex-end;   
    padding-left: 5rem;
 display: flex;

}

#foot{
    padding:30px;
    margin: 0;
    background-color: purple;
    color: white;   
    
}
.formad{
    border: 5px;
    border-radius: 2rem;
    padding: 1cm;

}
.adgiris{
    width: 200px;
    float: right;
}