body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(241,231,254);
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover, a:link{
    color:red;
    
}
a:active{
    color:pink
}
.baslikmenu{
    list-style: none;
    padding-left: 100px;
}

#baslik{
   margin: 0;
   padding: 25px;
    background-color: purple;
    color: white;   
    text-transform: uppercase;
}


.navbar{
    
    justify-content: flex-end;
    float: right;
    
    
}
.navbar li{
    list-style: none;
}
.navbar ul{
    
    justify-content: flex-end;   
    padding-left: 5rem;
 display: flex;

}

#foot{
    padding:30px;
    margin: 0;
    background-color: purple;
    color: white;   
    
}
.formad{
    border: 5px;
    border-radius: 2rem;
    padding: 1cm;

}
.adgiris{
    width: 200px;
    float: right;
}

input :focus{
    box-shadow:0 0 3px 0;
    border-color: purple;
    box-shadow: 0 0 5 0 purple;
}

.section{
    padding: 1rem;
}
.sectiongorsel{
    list-style: none;
    padding: 1rem;
}
.section h2{
    margin:0

}
.sectionbolum3{
    background-color: rgb(181, 118, 191);
    margin: 0;
    
    
}
.formlar{
    margin:100px;
}
.formlar input{
    font-size: 1rem;
    border: solid 2px purple;
    box-shadow: 0 0 5 0;
}
.formlar textarea{
    font-size: 1rem;
    border: solid 2px purple
}
.btn{
    background-color: purple;
    border: solid white 5px;
    color: white;
    padding: .5em 1em;
}
.btn:hover, .btn:focus{
    background-color: white;
    color: purple;
}
