
.container{
text-align: center;
 
}
.container2{
    text-align: center;
     background-color: rgb(238, 238, 238);
     margin:auto;
     margin-left:60px;
     margin-right:60px;
    
}
.container2 p{
    margin: auto;
    margin-left:60px;
    margin-right:60px;

    
}
.container2 p{
    margin: 0;
}
.container2btn1{
    margin: 0;
    

}
.containeralt{
    display: flex;
    margin: auto;
    margin-left:60px;
    margin-right:60px;
}
.containeralt1{
    width: 500px;
    height: 80px;
    background-color: rgb(151, 226, 218);
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    
}
.containeralt2{
    width: 500px;
    height: 80px;
    background-color:rgb(135, 202 , 194);
    text-align: center;
    padding-top: 10px;
}
.containeralt3{
    width: 500px;
    height: 90px;
    background-color: rgb(118, 177, 170);
    text-align: center;   
}

#foot{
    text-align: center;
    display: block;}
