/Users/zeynelbasaran/Desktop/PROJELER/CSSEĞİTİM
/Users/zeynelbasaran/Desktop/PROJELER/İBB
/Users/zeynelbasaran/Desktop/PROJELER/JS EGİTİM
/Users/zeynelbasaran/Desktop/PROJELER/Kodluyoruz Eğitimleri
/Users/zeynelbasaran/Desktop/PROJELER/Projeler