/Users/zeynelbasaran/Desktop/PROJELER/CSSEĞİTİM
/Users/zeynelbasaran/Desktop/PROJELER/İBB

/Users/zeynelbasaran/Desktop/PROJELER/JS EGİTİM
/JS EGİTİM
CSSEĞİTİM

/Users/zeynelbasaran/Desktop/PROJELER/CSSEĞİTİM

/Users/zeynelbasaran/Desktop/PROJELER/Projeler
/Projeler

/Users/zeynelbasaran/Desktop/PROJELER/Kodluyoruz Eğitimleri
/Kodluyoruz Eğitimleri

/Users/zeynelbasaran/Desktop/PROJELER/.tmp.driveupload
.tmp.driveupload
/Users/zeynelbasaran/Desktop/PROJELER/.tmp.drivedownload
.tmp.drivedownload

/Users/zeynelbasaran/Desktop/PROJELER/ReactUygulamalar
ReactUygulamalar
