* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.btn {
    background-color: black;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    
}

.needle {
    background-color: black;
    width: 3px;
    height: 65px;
    display: flex;
    left: 50%;
    top: 50%;
    position: absolute;
    transform-origin: bottom center;
    transition:all ease-in 0.5s;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.munite {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}

.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
}
.center{
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.center::after{
    content: "";
    background-color:black;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.time{
    font-size: 60px;
}
.date{
    color: gray;
    letter-spacing: 0.3px;
    font-size: 14px;
    text-transform: uppercase;
}
.date .circle{
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.dark{
    background-color: black;
    color: white;
}

html.dark .container .date span{
    background-color: white;
    color: black;
}
html.dark .container .needle{
    background-color: white;
}
html.dark .container .needle.second{
    background-color: #e74c3c;
}
html.dark .btn{
    border: solid white;
}
