* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(242, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;

}

.container {
    background-color: rgb(66, 66, 66);
    width: 600px;
    height: 400px;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .clock {
    text-align: center;
    margin-top: 20px;
    font-size:3rem ;
}
.container .location{
    display: flex;
    flex-direction: column;

}
.container label{
    margin: 10px 30px;
    font-size: 1rem;
}
.container .iftar{
    text-align: center;
}
.container .namazsaat{
    display: flex;
    text-align: center;
    flex-direction: column;

}
.container .namazsaat li{
    list-style-type: none;
}