body{
    font: 16px;
    box-sizing: border-box;
   
   
}
.container {
    margin-left: 300px;
    margin-right: 300px;
    
}

img {
    max-width: 100%;
    height: auto;/*Yükseklik auto genişlik %100 verilmiş*/
    

}

