
header{
    background-color: purple;
    color: white;
    padding: 1.5rem;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
}
.başlık{
    color: black;
    padding: 1rem;
}
.başlıkcont{
    padding:0;
}
.başlıkcont1{
    background-color: purple;
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    color: white;
}
.başlık h1{
    color: purple}
.btn{
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 background-color: purple;
 border: 2px; 
 padding: 0.5rem;
}
.input{
color: purple;
font-family:Arial, Helvetica, sans-serif
}
.input:focus{
    box-shadow:0 0 5px 2px purple;
    border-color:1px purple;
}
.başlık textarea:focus{
    box-shadow:0 0 5px 2px purple;
    border-color:1px purple;
    resize: none;
}
footer{
    background-color: purple;
    color: white;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
}
.başlık li{
    list-style: none;
    flex: none;
}

.başlıkcont{
  display: flex;

}
form{
    width: 20px;
    margin:top  
}
