* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;

}

label {
    display: block;
    margin: 0;
    margin-bottom: 8px;


}

select,
textarea,
input[type="text"],
input[type="tel"],
input[type="email"],
select,button {
    display: block;
    width: 100%;
    border-radius: 1px;
    height: 42px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 15px;
    /*İnputtaki metni 15px girintili başlatacak*/
    padding-right: 15px;
    /*İnputtaki metni 15px girintili başlatacak*/
    font-size: inherit;
    /*Fontsize uyumu için bir üst kapsayıcının değerini al*/
    font-family: inherit;
    /*Fonfm uyumu için*/

}


.form-row {
    margin-bottom: 15px;
    width: 300px;
}

textarea {
    height: 60px;
    min-height: 42px;
    /*Minimun küçülme oranı ayarlandı*/
    min-width: 260px;
    resize: vertical;
    /*Sadece Dikey uzuyor*/
    max-height: 200px;
    /*Max uzaması*/
    padding: 15px;
}

select{
    -webkit-appearance: none; /*Ön tanımlı atanan icon iptal edildi.*/
    background-image: url(İcon/arrow_downward_FILL0_wght400_GRAD0_opsz24.svg); /* SVG seçildi */
    background-repeat: no-repeat; /*SVG kutu içerisinde tekrarını engelledik */
    background-position: right 10px center; /*SVG yi saga aldık */
    
}

.radio-container label{
    display: inline-block;
    padding-right: 15px;
}
button{
    width: auto;
    display: inline-block;
    border: 0;
    background-color: #eee;
    
}
button[type=submit]{
    background-color: rgb(  68  , 176, 255);
    color:white;
    margin-right: 20px;

}