figcaption{
   font-size: 0.9rem;
}
img{
    width: 100%; /*Resmin boyutunu kapsayıcısının %100'ü ayarladık */
}
body{
    font-size: 21px;
    line-height: 2rem; /*Satır aralıgı için*/
    
}
h1,h2,h3,blockquote{
    line-height: 2rem;
}

h1{
    font-weight:normal;
}
h3{
    font-weight:normal;
}
a{
    color: black;
    
}
article{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    max-width: 750px;  /* İçerigin boyunu ayrlayarak margin yazıyı ortaladık*/
}
figure{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
.ff-sans{
    font-family: sans-serif;
}
.gray{
    color:gray;
}
.italik{
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 50px;
}
blockquote{
    font-size: 2rem;
}