* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.main {
    display: flex;
    width: 90vw;

}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    cursor: pointer;
    transition: flex 0.7s ease-in;
    color: white;
    flex: 0.5;
    position: relative;
    margin: 10px;
    border-radius: 50px;
    transition: flex 0.7s ease-in;

}


.panel.active {
    flex: 5;
}

.main .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;

}

.main .panel h3 {
    text-align: center;
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    left: 40px;
    margin: 0;
    transition: opacity 0.3s ease-in 0.4s;
    text-transform: capitalize;
    opacity: 0;
}

@media(max-width:480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}