
body{
    width:100%;
    height: 100vh;
}


.main {
    width: 1600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}   

.box img{
    width: 100px;
    height: 80vh;
    border-radius: 75px;
    margin-left: 20px;

}
.active img{
    width: 1000px;

}