* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-family: 'Vina Sans', sans-serif;
    box-sizing: border-box;
}
.container{
  
    display: flex;
    text-align: center;

}