* {
    box-sizing: border-box;
    font-size: 14px;
}

/* Sayfa tek sayfa halinde scroll bar yok */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.container {
    /* Divleri ortaladı  */
    display: flex;
    /* Kutuları yan yana getirdi.  */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 90vh;
}

.panel {
    box-sizing: border-box;

}