*{
    box-sizing: border-box;
    color:#ABA194;
    
}
.container{
    width: 500px;
    height: 400px;
    background-color: #D9F7FA);
    border: 2px black solid
}
.text-wiew{
width: 100%;
height: 80px;
background-color: black;
}
.button{
    width: 80px;
    height: 40px;
    background-color:white;
    border: 1px black solid;
    margin:10px 5px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.col{
    width: 100%;
    height: 25%;
   
    margin-top: 25px;
}
.operators{
    display:flex;
}
.ac{
    background-color: #8C271E;
    color: white;
}
.esit{
    height: 190px;
    background-color: rgb(88, 155, 201);
    color: white;
}